.uni-card {
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 10px;
  }
  
  .uni-logo {
    width: 100px;
    height: auto;
    margin: 10px 0;
  }