<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Contáctame</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="about-container">
    <ion-card class="about-card">
      <ion-card-header>
        <img src="assets/images/yo.png" alt="Foto de perfil" class="profile-photo">
      </ion-card-header>
      <ion-card-content>
        <h2 class="about-title">Héctor Gabriel Medina García</h2>
        <p class="about-detail"><strong>Teléfono:</strong> +1 829-357-4440</p>
        <p class="about-detail"><strong>Email:</strong> hectorgmedina05&#64;gmail.com</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
