<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display: flex; justify-content: center; margin-top: 20px;">
    <img src="assets/images/001-caja-de-herramientas.png" alt="Caja de Herramientas"/>
  </div>

  <ion-list>
    <ion-item routerLink="/gender">Predicción de género</ion-item>
    <ion-item routerLink="/age">Predicción de edad</ion-item>
    <ion-item routerLink="/universities">Buscar universidades</ion-item>
    <ion-item routerLink="/weather">Clima en RD</ion-item>
    <ion-item routerLink="/wordpress">Últimas noticias</ion-item>
    <ion-item routerLink="/about">Contáctame</ion-item>
  </ion-list>
</ion-content>
