.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  ion-card {
    width: 90%;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .result-text {
    font-size: 1.2em;
    margin-top: 10px;
  }
  
  .result-category {
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 10px;
    color: #3880ff;
  }
  
  img {
    width: 100px;
    height: auto;
    margin-top: 10px;
  }
  